<!DOCTYPE html>
<html>
<head>
	<title>Showstopper</title>

	<link rel="stylesheet" type="text/css" href="/css/style.css">
	
</head>
<body>
	<%- include ./partials/header%>

	<div class="container">
		<% include ./partials/alerts %>
		<%- body %>
	</div>

</body>
</html>